<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
    <RunConfiguration>
        <ResultsDirectory>../TestResults</ResultsDirectory>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <Format>cobertura</Format>
                    <Exclude>[*]Main.*,[*]Main.Factories.Controllers*,[*]Main.Factories.Data*,[*]Main.Factories.Infra*,[*]Main.Adapters*,[*]Main.Routes*,[*]Infra.Db.MongoDb.Configurators*,[*]Infra.Db.MongoDb.Mappers*,[*]Infra.Db.MongoDb.Models*,[*]Infra.Adapters*,[*]Test*</Exclude>
                    <SingleHit>false</SingleHit>
                    <UseSourceLink>true</UseSourceLink>
                    <IncludeTestAssembly>true</IncludeTestAssembly>
                    <SkipAutoProps>true</SkipAutoProps>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>
